<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winging it</title>
</head>
<body>
    <h1> Do you like wings and friends? OF COURSE YOU DO!</h1> 
    <h2>Then choose a time for wing meet-up dummy</h2>
    <h3><button>Click Me To Login</button></h3>
    <img src="../img/wing1.jpg" alt="wing picture" width="500" height="500">
    <div> <img src="../img/wing2.jpg" alt=" two wings picture" width="500" height="500"> </div>
</body>
</html>